@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

.package-btn-color{
    background-color: whitesmoke;
    color: #3F87F5;
}
 
.convention-footer{
    background-color: #0B0D17;
    color: white;
}